body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('fondo_verde.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgba(14, 23, 13, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90%;
    width: 60%;
}
.input-text{
    border-radius: 10px;
    width: 300px;
    height: 40px;
}
.container label{
    font-family: "Orbitron", sans-serif;
    color: white;
}
.input-radio{
    margin-top: 20px;
}

#logo_juego{
    width: 90%;
    position: relative;
}

#imagen_button {
    padding: 10px;
    width: 300px;
}

.btnRegistrar {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin bordes */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno (padding) */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  /* Agregar efectos al pasar el cursor por encima (hover) */
  .btnRegistrar:hover {
    background-color: #45a049; /* Cambiar color de fondo al pasar el cursor */
  }